services:
  - type: web
    name: design-dropper-backend
    env: docker
    region: Singapore (Southeast Asia)
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
